<!-- eslint-disable vue/multi-word-component-names -->
// eslint-disable-next-line vue/multi-word-component-names
<template>
    <body>
        <img class="imgC" v-bind:src="require('../assets/construccion5.jpg')">
    </body>
</template>