<template>
<body>
    <header class="hero">
        <nav class="nav container">
                <img src="images/close.svg" class="nav__close">
            <div class="nav__menu">
                <img src="images/menu.svg" class="nav__img">
            </div>
        </nav>
        <section class="hero__container container">
            <h1 class="hero__title">¡BIENVENIDOS A LA BIBLIOTECA!</h1>
            <a href="/enconst" class="cta1">Búsqueda</a>
            <a href="/enconst" class="cta2">Prestamos</a>
            <a href="/enconst" class="cta3">Multas</a>
            <a href="/enconst" class="cta4">Sistema de Ayuda</a>
        </section>
    </header>
    <main>
        <section class="container about">
            <p> No es solo una biblioteca. Es una nave espacial que te llevará a los puntos más lejanos del universo,
                una máquina del tiempo que te llevará al pasado lejano y al lejano futuro, un maestro que sabe más que ningún ser humano,
                un amigo que te divertirá y te consolará y sobre todo una salida a una vida mejor, más feliz y más útil.</p>
            <div class="about__main">
                <article class="about__icons">
                    <img class="img1" v-bind:src="require('../assets/ideas libros.jpg')">
                </article>

                <article class="about__icons">
                    <img class="img2" v-bind:src="require('../assets/hombre libro.jpg')">
                </article>

                <article class="about__icons">
                    <img class="img3" v-bind:src="require('../assets/manos libros.jpg')">
                </article>
            </div>
        </section>
    </main>
        <div class="contenedor">
            <h2 class="titulo-footer">Contáctanos</h2>
            <h3 class="subtitulo-footer">Gracias por preferirnos</h3>
            <div class="footer">
                <form action="">
                    <input type="text" name="" id="" placeholder="Nombre" required>
                    <input type="email" name="" id="" placeholder="Email" required>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Ingrese su mensaje..."></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
            <center>
                <h3 class="footer__copyright">Derechos reservados 2022 &copy; Biblioteca ULEAM</h3>
            </center>
</body>
</template>
<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data: () => ({
  correo:"",
	contrasena: "" // 8 caracters, una letra mayuscula y minuscula.
  }),
  methods: {
  Iniciar: function (e) {
     this.errors = [];
     if (!this.correo) {
       alert('El correo electrónico es obligatorio.');
     } else if (!this.validEmail(this.correo)) {
  this.errors.push('El correo electrónico debe ser válido.');
     }
     if (!this.contrasena) {
  alert('contraseña es obligatorio.');
} else if (!this.validcontrasena(this.contrasena)) {
  this.errors.push('contraseña debe ser válido.');
}
     if (!this.errors.length) {
  return true;
}
e.preventDefault();
   },
   validEmail: function (correo) {
     var re = /^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/
     return re.test(correo);
   },
validcontrasena: function (contrasena) {
  var re2 = /^[a-zA-Z0-9]$/; 
  return re2.test(contrasena);
   },
  }}
  </script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root {
    --padding-container: 100px 0;
    --color-title: rgb(170, 1, 1);
}

body {
    background-color:  #5e552a74;
    font-family:'Times New Roman', Times, serif;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('@/assets/Fondo.jpg');
    background-size: cover;
    z-index: -1;
}

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-align:center;
    font-weight: 700;
    text-shadow: 2px  1px 2px rgb(12, 13, 12),
               1px  1px 1px rgb(24, 24, 24),
              -2px  1px 2px rgb(10, 11, 10),
               2px -1px 2px rgb(11, 12, 11);
    }


.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    font-size: 20px;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 2em;
    padding-bottom: 50px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 5px;
    margin-top: 10px;
}


.cta1{
    display: inline-block;
    background-color: #778899;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 15px 105px;
    border-radius: 32px;
}

.cta1:hover{
    background:#778899c4;
}

.cta2{
    display: inline-block;
    background-color: #778899;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 15px 105px;
    border-radius: 32px;
}

.cta2:hover{
    background:#778899c4;
}

.cta3{
    display: inline-block;
    background-color: #778899;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 15px 115px;
    border-radius: 32px;
}

.cta3:hover{
    background:#778899c4;
}

.cta4{
    display: inline-block;
    background-color: #778899;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 15px 80px;
    border-radius: 32px;
}

.cta4:hover{
    background:#778899c4;
}

.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
    margin: auto;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

 
.img1{
    width:300px;
    height: 300px;
}

.img2{
    width:300px;
    height: 300px;
}

.img3{
    width:300px;
    height: 300px;
}
.footer {
    background-color: #13131394;
}

.uleam{
    width: 300px;
    height: 100px;
    margin-left: 500px;
}



.footer__copy {
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
}

.footer__copyright {
    font-weight: 300;
}



.footer__img {
    width: 30px;
}

@media (max-width:800px) {
    .nav__menu {
        display: block;
    }
    .nav__link--menu {
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }
    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
    .contenedor {
        width: 90%;
        max-width: 1000px;
        margin: auto;
        overflow: hidden;
        padding: 52px 0;
    }
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.936);
    font-style: italic;
}

header .textos {
    margin-top: 152px;
}

header .titulo {
    font-size: 85px;
    
}

header .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

.acerca-de .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px;
}

footer {
    background: #2c3e50;
    height: auto;
}

.titulo-footer,
.subtitulo-footer {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 56px;
}

.subtitulo-footer {
    font-size: 16px;
    margin-bottom: 64px;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

input[type="text"],
input[type="email"] {
    display: inline-block;
    width: 48%;
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    background: rgba(37, 37, 33, .7);
    margin-bottom: 16px;
    border-top: 5px solid rgba(37, 37, 33, .7);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-top: 5px solid rgba(255, 255, 255, 0.7);
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
    background: rgba(37, 37, 33, .7);
    padding: 13px;
    border: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 16px;
}

input[type="submit"] {
    display: inline-block;
    padding: 13px;
    border: none;
    color: #fff;
    background: rgba(37, 37, 33, .7);
    width: 96px;
}
</style>