<template>
<body>
    <form onsubmit="Login()" class="formulario" id="formulario-login" method="post">
        <center>
            <h2>Inicio de Sesión de la Bliblioteca ULEAM</h2>
        </center>
        <div class="contenedor">
            <div class="input-contenedor">
                <i class="fas fa-envelope icon"></i>
                <input type="text" id="correo" name="correo" placeholder="Ingrese su correo electrónico"></div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <input type="password" id="password" name="password" placeholder="Contraseña"></div>
                <a href="/login" class="cta1">Iniciar Sesión</a>
            
            <p>¿Aún no tienes Cuenta?<a class="link" href="Registro.html">Registrate</a></p>
            <p>¿Olvidaste tu contraseña?<a class="linkrecuperar" href="Recuperacion de Cuenta.html">Recuperar</a></p>
        </div>
    </form>
</body>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('@/assets/Fondo.jpg');
}
* {
    box-sizing: border-box;
}

.formulario{
    background-color: rgba(109, 109, 109, 0.822);
    margin-left: 350px;
    margin-top: 150px;
    padding: 3px;
    width: 98%;
    max-width: 1000px;
    border: 3px solid rgba(0, 255, 21, 0.342);
    border-radius: 7px;
}

input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid rgba(0, 255, 21, 0.342);
    border-radius: 5px;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}

p{
    text-align: center;
}

.cta1{
    display: inline-block;
    background-color: #ff0000;
    margin-left: 270px;
    color: #fff;
    text-decoration: none;
    padding: 13px 200px;
    border-radius: 32px;
}

.cta1:hover{
    background: rgba(255, 0, 0, 0.575);
}

.link{
    text-decoration: underline;
      color: rgba(250, 250, 250, 0.692);
    font-weight: 600;
}
.link:hover{
     color: red;
}
@media(min-width:1980px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}

.linkrecuperar{
    text-decoration: underline;
      color: rgba(250, 250, 250, 0.692);
    font-weight: 600;
}
.linkrecuperar:hover{
    color: red;
}
</style>